<%- include('header', { template: 'archive' }) %>

<div id="archive" class="archive">
	<% articles.forEach(file => { %>
	<% article = file.render().res.arguments.article %>
	<div class="archive-article" style="margin-bottom: 2em;">

		<div style="position: relative; height: 1rem; margin-bottom: 2em;">
			<% if (article && article.breadcrumb && article.breadcrumb.length) { %>
			<div class="ui breadcrumb" style="position:absolute; left: 0;">
				<% let len = article.breadcrumb.length; %>
				<% for (let i = 0; i < len - 1; i++) { %>
				<a href="<%- article.breadcrumb[i].href %>" class="section"><%= article.breadcrumb[i].name %></a>
				<i class="right angle icon divider"></i>
				<% }%>
				<a href="<%- article.breadcrumb[len - 1].href %>" class="section"><%= article.breadcrumb[len - 1].name %></a>
			</div>
			<% } %>
			<div style="position:absolute; right: 0; font-size: 1rem; font-weight: bold;">
				<%= article.title %>
			</div>
		</div>

		<div class="ui card" style="margin-top: 1em; margin-bottom: 1em;">
			<% if (article.date) { %>
			<div class="extra content">
				<% if (article.date) { %>
				<span class="left floated">
					<i class="calendar icon"></i>
					<%= article.date.format('YYYY-MM-DD HH:mm') %>
				</span>
				<% } %>
			</div>
			<% } %>
			<div class="content">
				<div style="min-height: 2em; max-height: 20em; overflow: hidden;">
					<%- article.content %>
				</div>
			</div>
		</div>
	</div>
	<% }) %>
</div>

<%- include('footer') %>