<%- include('header', { template: 'archive' }) %>

<div id="archive" class="archive">
<% articles.forEach(file => { %>
	<% article = file.render().res.arguments.article %>
	<div class="archive-article">

		<% if (article && article.breadcrumb && article.breadcrumb.length) { %>
			<div class="ui breadcrumb">
				<% let len = article.breadcrumb.length; %>
				<% for (let i = 0; i < len - 1; i++) { %>
					<a href="<%- article.breadcrumb[i].href %>" class="section"><%= article.breadcrumb[i].name %></a>
					<i class="right angle icon divider"></i>
				<% }%>
					<a href="<%- article.breadcrumb[len - 1].href %>" class="section"><%= article.breadcrumb[len - 1].name %></a>
			</div>
		<% } %>
	
		<div class="ui card" style="margin-top: 1em; margin-bottom: 1em;">
			<div class="content">
				<div class="header"><%= article.title %></div>
				<!-- <div class="meta">2 days ago</div> -->
				<div style="margin-top: 1em">
					<%- article.content %>
				</div>
			</div>
		</div>
	</div>
<% }) %>
</div>

<%- include('footer') %>