<%- include('header', { template: 'archive' }) %>

<div id="archive" class="archive">
	<% articles.forEach(file => { %>
	<% article = file.render({submodule: ['config', 'summary', 'breadcrumb']}).res.arguments.article %>
	<div class="archive-article" style="margin-bottom: 2em;">

		<div style="margin-bottom: 2em;">
			<% if (article && article.breadcrumb && article.breadcrumb.length) { %>
			<div class="ui breadcrumb">
				<% let len = article.breadcrumb.length; %>
				<% for (let i = 0; i < len - 1; i++) { %>
				<a href="<%- article.breadcrumb[i].href %>" class="section"><%= article.breadcrumb[i].name %></a>
				<i class="right angle icon divider"></i>
				<% }%>
				<a href="<%- article.breadcrumb[len - 1].href %>" class="section"><%= article.breadcrumb[len - 1].name %></a>
				<div style="margin-top: .6em; font-size: 1.2em; font-weight: bold;">
					<%= article.title %>
				</div>
			</div>
			<% } %>
		</div>

		<div class="ui card" style="margin-top: 1em; margin-bottom: 1em;">
			<% if (article.date || article.link || article.allow_edit) { %>
				<div class="extra content">
					<% if (article.date) { %>
						<span class="left floated">
							<i class="calendar icon"></i>
							<%= article.date.format('YYYY-MM-DD HH:mm') %>
						</span>
					<% } %>
					<% if (article.link || article.allow_edit) { %>
						<span class="right floated" style="margin-left: 1em">
							<% if (article.link) { %>
								<a href="<%= article.link %>" target="_blank">
									<i class="external link alt icon"></i>
									<%= article.linkName %>
								</a>
							<% } %>
							<% if (article.allow_edit) { %>
								<a href="/edit?p=<%= article.uri %>" target="_blank" style="margin-left: 1em">
									<i class="edit icon"></i>
									Edit
								</a>
							<% } %>
						</span>
					<% } %>
				</div>
			<% } %>
			<div class="content">
				<div class="md" style="overflow: hidden; font-size: 1.08em;">
					<%- article.content %>
				</div>
			</div>
			<% if (article.tag) { %>
				<div class="extra content">
					<% article.tag.forEach(tag => { %>
						<a class="article-tag" href="/tag/<%= tag %>">
							<i class="tag icon"></i>
							<%= tag %>
						</a>
					<% }); %>
				</div>
			<% } %>
		</div>
	</div>
	<% }) %>
</div>

<%- include('footer') %>