<%- include('header', { template: 'article' }) %>

<div id="article">

	<% if (article && article.breadcrumb && article.breadcrumb.length) { %>
		<div class="ui breadcrumb">
			<% let len = article.breadcrumb.length; %>
			<% for (let i = 0; i < len - 1; i++) { %>
				<a href="<%- article.breadcrumb[i].href %>" class="section"><%= article.breadcrumb[i].name %></a>
				<i class="right angle icon divider"></i>
			<% }%>
			<div class="active section"><%= article.breadcrumb[len - 1].name %></div>
		</div>
	<% } %>

	<div class="title"><%= article.title %></div>

	<div class="ui card">
		<!-- <div class="extra content">
			<span class="left floated like">
				<i class="like icon"></i>
				Like
			</span>
			<span class="right floated star">
				<i class="star icon"></i>
				Favorite
			</span>
		</div> -->
		<div class="content" style="padding: 0;">
			<div style="margin: 1em;">
				<%- article.content %>
			</div>
			<script>
				$('#article table').attr('class', 'ui celled table');
			</script>
		</div>
	</div>
</div>

<%- include('footer') %>