<%- include('header', { template: 'article' }) %>

<div id="article">

	<% if (article && article.breadcrumb && article.breadcrumb.length) { %>
	<div class="ui breadcrumb">
		<% let len = article.breadcrumb.length; %>
		<% for (let i = 0; i < len - 1; i++) { %>
		<a href="<%- article.breadcrumb[i].href %>" class="section"><%= article.breadcrumb[i].name %></a>
		<i class="right angle icon divider"></i>
		<% }%>
		<div class="active section"><%= article.breadcrumb[len - 1].name %></div>
	</div>
	<% } %>

	<div class="title" style="padding-top: .6em; padding-bottom: 1.2em; text-align: center; font-size: 2.2em; line-height: 1.2em;">
		<%= article.title %>
	</div>

	<div class="ui card">
		<% if (article.date || article.link || article.allow_edit) { %>
			<div class="extra content">
				<% if (article.date) { %>
					<span class="left floated">
						<i class="calendar icon"></i>
						<%= article.date.format('YYYY-MM-DD HH:mm') %>
					</span>
				<% } %>
				<% if (article.link || article.allow_edit) { %>
					<span class="right floated" style="margin-left: 1em">
						<% if (article.link) { %>
							<a href="<%= article.link %>" target="_blank">
								<i class="external link alt icon"></i>
								<%= article.linkName %>
							</a>
						<% } %>
						<% if (article.allow_edit) { %>
							<a href="/edit?p=<%= article.uri %>" target="_blank" style="margin-left: 1em">
								<i class="edit icon"></i>
								Edit
							</a>
						<% } %>
					</span>
				<% } %>
			</div>
		<% } %>
		<div class="content" style="padding: 0;">
			<div class="md" style="margin: 1em; overflow: hidden; font-size: 1.08em;">
				<%- article.content %>
			</div>
		</div>
		<% if (article.tag) { %>
			<div class="extra content">
				<% article.tag.forEach(tag => { %>
					<span class="article-tag">
						<i class="tag icon"></i>
						<%= tag %>
					</span>
				<% }); %>
			</div>
		<% } %>
	</div>
</div>

<%- include('footer') %>