<%- include('header', { template: 'article' }) %>

<div id="article">

	<% if (article && article.breadcrumb && article.breadcrumb.length) { %>
	<div class="ui breadcrumb">
		<% let len = article.breadcrumb.length; %>
		<% for (let i = 0; i < len - 1; i++) { %>
		<a href="<%- article.breadcrumb[i].href %>" class="section"><%= article.breadcrumb[i].name %></a>
		<i class="right angle icon divider"></i>
		<% }%>
		<div class="active section"><%= article.breadcrumb[len - 1].name %></div>
	</div>
	<% } %>

	<div class="title article-title">
		<%= article.title %>
	</div>
	<% if (article.tag) { %>
		<div class="article-tag-group">
			<% article.tag.forEach(tag => { %>
				<a class="article-tag" href="/tag/<%= tag %>" target="_blank">
					<i class="tag icon"></i>
					<%= tag %>
				</a>
			<% }); %>
		</div>
	<% } %>
	<div class="ui divider"></div>

	<div class="view">
		<div class="left">
			<div class="content">
				<div class="md" style="overflow: hidden; font-size: 1.08em;">
					<%- article.content %>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="ui secondary pointing fluid vertical menu">
				<% if (article.date) { %>
					<span class="item">
						<i class="calendar icon"></i>
						<%= article.date.format('YYYY年MM月DD日 HH:mm') %>
					</span>
				<% } %>
				<% if (article.link) { %>
					<a class="item" href="<%= article.link %>" target="_blank">
						<i class="external link alt icon"></i>
						题目链接（<%= article.linkName %>）
					</a>
				<% } %>
				<% if (article.allow_edit) { %>
					<a class="item" href="/edit?p=<%= article.uri %>">
						<i class="edit icon"></i>
						在网页编辑器中编辑
					</a>
				<% } %>
			</div>
			</div>
	</div>
</div>

<%- include('footer') %>