<%- include('header', { template: 'todolist' }) %>

<% function render(item) { %>
	<div class="title item-color-<%= item.color %>">
		<i class="dropdown icon"></i>
		<%= item.title %>
		<% if (item.link) { %>
			<a href="<%= item.link %>" target="_blank"><i class="external link alt icon"></i></a>
		<% } %>
	</div>
	<div class="content">
		<%- item.description.map(e => '<p>' + e + '</p>').join('') %>
		<%- item.preview %>
		<% if (item.children.length) { %>
			<div class="accordion">
				<% item.children.forEach(child => render(child)) %>
			</div>
		<% } %>
	</div>
<% } %>

<div id="todolist">
	<div class="title article-title">
		<%= todo.title %>
	</div>
	<div class="ui styled accordion">
		<% todo.children.forEach(child => render(child)) %>
	</div>
</div>

<script>
	window.todo = {
		root: JSON.parse("<%- JSON.stringify(todo).replace(/\\/g, '\\\\').replace(/"/g, '\\"') %>")
	}
</script>

<%- include('footer') %>